@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Nevis;
    src: url(../fonts/NevisBold.ttf);
}

@font-face {
    font-family: RisingSun;
    src: url(../fonts/RisingSun-Regular.otf);
}

:root {
    --primary-gray: rgb(243, 244, 246);
    --secondary-gray: rgb(229, 231, 235);
    --dark-red: rgb(208, 59, 43);
    --dark-red-hover: rgb(141, 43, 36);
    --dark-blue: rgb(28, 58, 91);
    --dark-brown: rgb(82, 50, 45);
    --dark-beige: rgb(228, 206, 196);
    --dark-offwhite: rgb(255, 237, 226);
    --dark-bg: rgb(28,28,32);
}

/* 
gray-100: 243, 244, 246
gray-200: 229, 231, 235
gray-300: 209, 213, 219
*/


html {
    @apply bg-white dark:bg-dark-theme-bg
}

@media (prefers-color-scheme: dark) {
    /* Width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--dark-brown);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--dark-blue);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--dark-red-hover);
    }
}

* {
    font-size: 2vh;
    overflow-x: hidden;
    font-family: RisingSun, sans-serif;
    color: black;
    @apply dark:text-dark-theme-beige;
}

.card {
    @apply items-center bg-primary-gray dark:bg-dark-theme-beige dark:hover:bg-blue-900 hover:bg-secondary-gray mx-4 mb-4 xl:mx-8 xl:mb-8 p-2 px-0 
}

.index-image {
    @apply w-16 md:w-20 mx-8 my-auto
}

.black-container > * {
    @apply text-black
}

iframe {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    @apply font-display leading-relaxed text-3xl sm:text-4xl sm:leading-normal text-transparent dark:text-dark-theme-red bg-clip-text bg-gradient-to-r from-pink-500 to-yellow-400 text-center
}

h2 {
    @apply font-display leading-relaxed text-2xl sm:text-3xl sm:leading-relaxed text-transparent dark:text-dark-theme-red bg-clip-text bg-gradient-to-r from-pink-500 to-yellow-400 text-center
}

h3 {
    @apply font-display leading-relaxed text-xl sm:text-2xl text-center dark:text-dark-theme-red
}

h4 {
    @apply font-display leading-relaxed text-lg sm:text-xl text-center dark:text-dark-theme-red
}

h5 {
    @apply font-display leading-relaxed w-2/3 mx-auto text-base text-black sm:text-lg text-left
}

p {
    @apply font-body text-base w-5/6 mx-auto text-left mb-6
}

.small {
    @apply font-body text-sm mx-auto 
}

a {
    @apply font-body text-base text-center text-transparent dark:text-dark-theme-red dark:bg-dark-theme-red dark:bg-none bg-clip-text bg-gradient-to-r from-pink-500 to-yellow-400
}

ul {
    margin-bottom: 1rem;
}

li {
    margin: .1rem 0 .3rem .5rem;
}

hr {
    margin-left: auto;
    margin-right: auto;
    @apply border-solid border-2 border-secondary-gray dark:border-dark-theme-bg;
    /* border: 2px var(--dark-bg) solid; */
    width: 83.33%;
}

blockquote {
    border-left: 2px solid rgb(251, 191, 36)
}

blockquote > p {
    @apply ml-4
}

.postContainer {
    @apply mt-4 w-3/4 sm:w-3/5 md:w-1/2 lg:w-2/5 xl:w-5/12 2xl:w-1/3 mx-auto mb-12
}

.postContent {
    @apply mx-auto mt-4
}

p > img {
	@apply w-5/6
}